@import url('reset.css');


.piano {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.keywords {
    background-color: black;
    display: flex;
    padding: 50px;
    position: relative;
}

.keyword {
    position: relative;
    z-index: 1;
    padding: 120px 50px;
    border: 1px solid black;
    transition: all 0.3s;
    background-color: white;
    
}

.playing {
    box-shadow: 0px -5px 10px black inset;
}

.black__key,
.black__key:nth-child(2),
.black__key:nth-child(4),
.black__key:nth-child(6),
.black__key:nth-child(8),
.black__key:nth-child(10),
.black__key:nth-child(12)  {
    width: 55px;
    height: 140px;
    z-index: 3;
    left: 130px;
    position: absolute;
    background-color: black;
}

.black__key:nth-child(2) {
    left: 245px;
}

.black__key:nth-child(4) {
    left: 360px;
}

.black__key:nth-child(6) {
    left: 475px;
}

.black__key:nth-child(8) {
    left: 590px;
} 

.black__key:nth-child(10) {
    left: 705px;
}

.black__key:nth-child(12) {
    left: 820px;
}